@import '@/assets/global/_variables.scss';

.profile-layout {
  padding: 0 14px;
  height: 100%;
  .profile-content {
    display: flex;

    .profile-info {
      flex: 2;
      padding-left: 1rem;
      .profile-nickname {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .profile-bio {
        margin-top: 0.7rem;
      }

      .profile-ip {
        color: $secondary-font-color;
      }

      .profile-follow {
        display: flex;

        .chunk {
          p {
            &:first-child {
              font-size: 1.3rem;
              font-weight: bold;
            }
            &:last-child {
              color: $secondary-font-color;
            }
          }
        }

        .spearator {
          margin: 0 0.5rem;
        }
      }
    }
  }

  .time-content {
    margin-top: 1.7rem;
    h3 {
      font-size: 1.8rem;
      margin-bottom: 0.7rem;
    }

    .time-card {
      font-size: 1.2rem;
      padding: 2rem 4rem;
      color: $secondary-font-color;

      .num {
        font-size: 2.5rem;
        color: $primary-font-color;
      }
    }
  }

  .sticker-content {
    margin-top: 1.7rem;
    h3 {
      font-size: 1.8rem;
      margin-bottom: 0.7rem;
    }

    .sticker-card {
      font-size: 1.2rem;
      padding: 2rem 4rem;
      cursor: pointer;

      div {
        &:last-child {
          color: $secondary-font-color;
        }
      }
    }
  }

  .history-content {
    margin-top: 1.7rem;
    h3 {
      font-size: 1.8rem;
      margin-bottom: 0.7rem;
    }
  }
}
