@import '@/assets/global/_variables.scss';

.sticker-content {
  margin-top: 1.7rem;

  h3 {
    font-size: 1.8rem;
    margin-bottom: 0.7rem;
    color: $secondary-font-color;
  }

  .sticker-card {
    font-size: 1.2rem;
    padding: 2rem 4rem;
    cursor: pointer;

    div {
      &:last-child {
        color: $secondary-font-color;
      }
    }
  }
}
