.colorful-shadow-layout {
  width: 100%;
  height: 100%;
  .pic-box {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      border-radius: 6px;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      transition: 0.3s;
    }

    .origin_pic {
      &:hover + .shadow {
        opacity: 1;
      }
    }

    .shadow {
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      z-index: -1;
      filter: blur(10px);
      -webkit-filter: blur(10px);
      top: 12px;
      transform: scale(0.92, 0.96);
      transition: 0.3s;
      will-change: transform, filter;
    }
  }
}
