.my-drawer {
  .ant-drawer-header {
    border-bottom: none;
    user-select: none !important;
    // padding: 7px 24px 10px 24px;
  }

  .ant-drawer-header-title {
    // padding-left: 60px;
    user-select: none !important;
  }
}
