.player-drawer-layout {
  margin-top: 35px;
  background: rgb(38, 38, 38);
  position: fixed;
  z-index: 99;
  left: 0;
  transition: 0.7s ease-in-out;

  .close-button {
    padding: 0.5rem 3rem;
  }

  .content {
    padding: 0 3rem;
  }
}
