* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  overflow: hidden;
}

.radix-themes {
  --default-font-family: 'PuHui';
  --heading-font-family: 'PuHui';
  --strong-font-family: 'PuHui';
}

@font-face {
  font-family: 'PuHui';
  font-weight: normal;
  src:
    local(''),
    url('assets/fonts/AlibabaPuHuiTi-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'PuHui';
  font-weight: lighter;
  src:
    local(''),
    url('assets/fonts/AlibabaPuHuiTi-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'PuHui';
  font-weight: bold;
  src:
    local(''),
    url('assets/fonts/AlibabaPuHuiTi-Bold.woff2') format('woff2');
}
