* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

@font-face {
  font-family: 'Barlow';
  font-weight: normal;
  src: local(''), url('assets/fonts/Barlow-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-weight: bold;
  src: local(''), url('assets/fonts/Barlow-Bold.woff2') format('woff2');
}
