@import '@/assets/global/_common.scss';

.about-layout {
  @include no-select;

  .about-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: 2.2rem;
    padding-top: 2.2rem;

    .logo {
      width: 200px;
      height: 200px;
      background: rgba(255, 0, 0, 0.3);
    }
  }

  h3 {
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
  }

  p {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: normal;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    button {
      cursor: pointer;
    }
  }
}
